<div class="container">
  <h1>企業情報一覧</h1>

  <div class="row">
    <% @companies.each do |company| %>
    <div class="col s12 m6 l4">
      <a href="<%= company_path company %>" style="color:#039be5;">
        <div class="card">
          <div class="card-image" style="background:url(<%= company.logo_url %>) no-repeat center center; background-size:contain; height:150px;">
          </div>
          <div class="card-content">
            <span class="card-title"><%= company.name %></span>
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>

  <%= link_to '企業情報を新規作成', new_company_path %>
</div>
