// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pad {
  &__top {
    &--10 { padding-top:10px; }
  }
}

i.material-icons {
  color: white;
  padding: 4px;
  border-radius:20px;
}
